.track {
    margin: 34px;
}

.info {

    display: flex;
    border: 1px solid black;
    border-bottom: 0;
    width: 100%;

    .title, .data {
        padding: 5px;
        display: flex;
        align-items: center;
    }

    .title {
        flex: 0 0 calc(50% - 1px);
        border-right: 1px solid black;
    }

    .data {
        flex: 0 0 50%;
    }

    &:last-child {
        border-bottom: 1px solid black;
    }
}